/* http://i.imgur.com/b9r5sEL.jpg */

/* Positioning of images to make it look like an actual drum kit */
[data-drum='bassDrum'] {
    position: absolute;
    top: 300px;
    left: 500px;
}

[data-drum='snareDrum'] {
    position: absolute;
    top: 350px;
    left: 670px;
}

[data-drum='hihat'] {
    position: absolute;
    top: 16d0px;
    left: 770px;
}

[data-drum='crash1'] {
    position: absolute;
    top: 130px;
    left: 830px;
}

[data-drum='crash2'] {
    position: absolute;
    top: 130px;
    left: 400px;
}

[data-drum='highTom'] {
    position: absolute;
    top: 195px;
    left: 645px;
}


[data-drum='floorTom'] {
    position: absolute;
    top: 350px;
    left: 430px;
}

[data-drum='hihat'] {
    position: absolute;
    top: 170px;
    left: 780px;
}


.drum {
    transition: all .07s ease;
}

/* The css for the transition that happens when pressed */
.playing {
    transform: scale(1.1);
}

